<mat-card>
  <h2 class="mat-elevation-z1">Gallery</h2>
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">

      <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Pictures</mat-card-title>
          <mat-card-subtitle>Uploaded Just Now</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/1.jpeg">
          <mat-card-actions>
            <button mat-button>Like</button>
            <button mat-button>Share</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Pictures</mat-card-title>
          <mat-card-subtitle>Uploaded Just Now</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/2.jpeg">
          <mat-card-actions>
            <button mat-button>Like</button>
            <button mat-button>Share</button>
          </mat-card-actions>
        </mat-card>
      </div> <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Pictures</mat-card-title>
          <mat-card-subtitle>Uploaded Just Now</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/3.jpeg">
          <mat-card-actions>
            <button mat-button>Like</button>
            <button mat-button>Share</button>
          </mat-card-actions>
        </mat-card>
      </div> <div fxFlex="26%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Pictures</mat-card-title>
          <mat-card-subtitle>Uploaded Just Now</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/4.jpeg">
          <mat-card-actions>
            <button mat-button>Like</button>
            <button mat-button>Share</button>
          </mat-card-actions>
        </mat-card>
      </div> <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Pictures</mat-card-title>
          <mat-card-subtitle>Uploaded Just Now</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/5.jpeg">
          <mat-card-actions>
            <button mat-button>Like</button>
            <button mat-button>Share</button>
          </mat-card-actions>
        </mat-card>
      </div> <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Pictures</mat-card-title>
          <mat-card-subtitle>Uploaded Just Now</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/6.jpeg">
          <mat-card-actions>
            <button mat-button>Like</button>
            <button mat-button>Share</button>
          </mat-card-actions>
        </mat-card>
      </div> <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Pictures</mat-card-title>
          <mat-card-subtitle>Uploaded Just Now</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/7.jpeg">
          <mat-card-actions>
            <button mat-button>Like</button>
            <button mat-button>Share</button>
          </mat-card-actions>
        </mat-card>
      </div> <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Pictures</mat-card-title>
          <mat-card-subtitle>Uploaded Just Now</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/8.jpeg">
          <mat-card-actions>
            <button mat-button>=Like</button>
            <button mat-button>Share</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

</mat-card>