<mat-card class="example-card">
  <h2 class="mat-elevation-z1">My Profile</h2>
  <mat-card-title-group>
    <mat-card-title class="mat-elevation-z2">
      <h3>Hello, my Name is</h3>
      <h1>Liezel Anne <span>Bael</span></h1>
      <h4>Bachelor of Science in<br>Information Technology</h4>
    </mat-card-title>
    <img class="mat-elevation-z4" mat-card-xl-image src="../../assets/6.jpeg">
  </mat-card-title-group>
  <mat-card-content class="mat-elevation-z2">
    <p>Quitters Never Win, Winners Never Quit</p>
  </mat-card-content>
</mat-card>